<!doctype html>
<html lang="es">

<head>
  <title>Tienda</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->

  <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
  

</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/" aria-current="page">Inicio</a>
            <a class="nav-item nav-link active" href="/productos">Productos</a>
            <a class="nav-item nav-link active" href="/nosotros">Nosotros</a>
            <a class="nav-item nav-link active" href="/admin/login">Login</a>
        </div>
    </nav>
    <div class="container">
        <br/>
