{% include 'sitio/cabecera.html' %}


    <div class="row">
         {% for producto in productos %}
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/img/{{ producto[2] }}" alt="Title">
                <div class="card-body">
                    <h4 class="card-title" style="color: rgb(11, 73, 87); font-size: 24px;">{{ producto[1] }}</h4>
                    <p class="card-text" style="color: rgb(7, 47, 56); font-weight: bold; font-size: 19px;">${{ producto[4] }}</p>

                        <a name="" id="" class="btn btn-success" href="/admin/carrito" role="button">Pedidos</a>
                </div>
            </div>
        </div>
        
        {% endfor %}
           
        
    </div>


{% include 'sitio/pie.html' %}
