{% include 'admin/cabecera.html' %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Datos del Producto
                </div>
                <div class="card-body">

                    <form action="/admin/productos/guardar" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                          <label for="txtNombre" class="form-label">Nombre:</label>
                          <input type="text"
                              class="form-control form-control-sm" name="txtNombre" id="txtNombre" aria-describedby="helpId" placeholder="Escribe el nombre del Producto">
                        </div>
                        
                        <div class="mb-3">
                            <label for="txtImagen" class="form-label">Imagen:</label>
                            <input type="file"
                                class="form-control form-control-sm" name="txtImagen" id="txtImagen" aria-describedby="helpId" placeholder="Selecciona el Producto">
                          </div>

                         <div class="mb-3">
                            <label for="txtURL" class="form-label">Descarga:</label>
                            <input type="text"
                                class="form-control form-control-sm" name="txtURL" id="txtURL" aria-describedby="helpId" placeholder="URL del Producto">
                          </div> 

                          <div class="mb-3">
                            <label for="txtPrecio" class="form-label">Precio:</label>
                            <input type="number" step="0.01" min="0" class="form-control form-control-sm" name="txtPrecio" id="txtPrecio" aria-describedby="helpId" placeholder="Precio del Producto">
                        </div>

                        <button type="submit" class="btn btn-primary">Añadir</button>  


                    </form>
                    

                </div>
                <div class="card-footer text-muted">
                    
                </div>
            </div>
        </div>
        <div class="col-md-7">

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">URL</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr class="">
                            <td>{{ producto[0] }}</td>
                            <td>{{ producto[1] }}</td>
                            <td>
                                <img width="60" src="/img/{{ producto[2] }}" class="img-fluid rounded-top" alt="">
                                
                            </td>
                            <td>
                                <a name="" id="" class="btn btn-success" href="{{ producto[3] }}" role="button">{{ producto[1] }}</a>          

                            </td>
                            <td>{{ producto[4] }}</td>
                            <td>
                                <form action="/admin/productos/borrar" method="post">
                                <input value="{{ producto[0] }}" type="hidden" name="txtID" id="txtID">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>

                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            
        </div>
        
    </div>
</div>




{% include 'admin/pie.html' %} 
